<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088733705952-b10sap2kl7ap121a3ev3gnuml22o3gl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088733705952-b10sap2kl7ap121a3ev3gnuml22o3gl9</string>
	<key>API_KEY</key>
	<string>AIzaSyDpT4cwPL--9fS-feTlx5duUwTBE5Mycs4</string>
	<key>GCM_SENDER_ID</key>
	<string>1088733705952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.stek-app</string>
	<key>PROJECT_ID</key>
	<string>getlackytest</string>
	<key>STORAGE_BUCKET</key>
	<string>getlackytest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088733705952:ios:7291f3cb4a660c1b</string>
	<key>DATABASE_URL</key>
	<string>https://getlackytest.firebaseio.com</string>
</dict>
</plist>